<div class="container d-flex justify-content-center">
  <h2 class="d-flex align-self-end display-2">Your links:</h2>
</div>
<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <!-- Create a div for each row in the rows array, displaying the information in that row -->
    <div *ngFor="let row of rows" class="d-flex mt-4">
      <div class="d-flex bg-primary text-white">
        <a href="{{ row[0] }}"><h4 class="p-2">{{ row[0] }}</h4></a>
        <a href="{{ row[1] }}"><h4 class="p-2">{{ row[1] }}</h4></a>
      </div>
      <button class="btn btn-primary p-2 ms-2" (click)="deleteRow(row[1])">Delete</button>
    </div>
  </div>
</div>