<div class="container d-flex justify-content-center">
  <h1 class="d-flex align-self-end display-1">Truncate</h1>
</div>
<div class="d-flex justify-content-center">
  <form class="d-flex align-self-start" method="post" (ngSubmit)="submitURL()">
    <div class="mb-3">
      <label class="margin" for="url" class="display-6">URL To Shorten:</label>
      <input class="margin" type="text" id="url" name="url" [(ngModel)]="url">
      <input class="margin" type="submit" class="btn btn-primary" value="Shorten!">
    </div>
  </form>
</div>